html, body {
    height: 100%; /* Establece la altura mínima para el html y el body */
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

body {
    display: flex;
    flex-direction: column; /* Dispone los elementos en una columna */
    min-height: 100vh; /* Usa la altura de la ventana gráfica como altura mínima */
}

.container-detalle {
    width: 70%;
    margin: 20px auto;
    background-color: rgb(221, 221, 221);
    padding: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1; /* Esto permitirá que el contenedor se expanda */
}

.vehiculo-detalle {
    flex-direction: column; /* Alineación vertical de los elementos */
    align-items: center;
}

#nombre-vehiculo {
    color: #333;
    font-size: 50px;
    margin-top: -50px; /* Reducir o eliminar el margen superior si existe */
    margin-bottom: 20px; /* También puedes reducir el margen inferior si es necesario */
    text-align: center;
}

.flex-container {
    align-items: flex-start;
}

.image-container {
    float: left;
    width: 700px;
    flex-basis: 45%;
}

.details-container {
    float: right;
    flex-grow: 1;
}

#imagen-vehiculo {
    width: 100%;
    height: auto;
}

.details-container h1 {
    color: #333;
    margin: 0 0 10px 0;
}

.details-container p {
    color: #666;
    line-height: 1.3;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.details-container p strong {
    min-width: 140px;
    margin-right: 10px; /* Espacio entre el título y el dato */
    display: block; /* Esto hace que los títulos se alineen a la izquierda */
    color: #333;
    text-align: left; /* Asegura que el texto esté alineado a la izquierda */
}

.details-container p span {
    display: block; /* Ocupa el espacio restante */
}


footer {
    position: relative; /* El footer es relativo al flujo del documento */
    width: 100%;
    clear: both; /* Esto asegura que el footer no se solape con elementos flotantes */
}


.sombreado {
    box-shadow: 10px 10px 20px grey; /* Esto añade un sombreado a la imagen */
}

.upload-photo-container {
    background-color: #f5f6f7;
    border: 3px dashed #ccd0d5;
    border-radius: 20px;
    padding: 30px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 900px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.upload-photo-container:hover {
    background-color: #ebedf0;
}

.upload-icon {
    font-size: 30px;
    color: #8d949e;
}

.upload-text {
    display: block;
    color: #4b4f56;
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
}

.upload-input {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
}

/* Estilos base */
.container-detalle {
    padding: 20px;
}

.flex-container {
    display: flex;
    flex-direction: column;
}

.image-container,
.details-container {
    width: 100%;
}

/* Estilos para pantallas más grandes (por ejemplo, tabletas o computadoras de escritorio) */
@media (min-width: 1000px) {
    .flex-container {
        flex-direction: row;
    }

    .image-container,
    .details-container {
        width: 50%;
    }
}

/* Estilos para pantallas aún más grandes */
@media (min-width: 1024px) {
    .container-detalle {
        padding: 50px;
    }

    .image-container {
        padding-right: 20px;
    }
}
