/* Estilos base y configuración responsiva */
html, body {
    background-image: url(../imagenes/toyota-trueno-ae86-pixel-thumb.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* 100% de la altura de la ventana gráfica */
}

/* Contenedor principal que abarca todo el contenido */
.container-detalle {
    flex-grow: 1;
    background-color: #fff; /* Color de fondo para el recuadro detrás de la imagen */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra alrededor del contenedor */
    padding: 20px; /* Espacio interior */
    margin: 20px auto; /* Margen superior e inferior y centrado horizontalmente */
    width: 90%; /* Ancho del contenedor */
    max-width: 1100px; /* Máximo ancho que puede tener el contenedor */
    display: flex; /* Usa flexbox para organizar el contenido */
    flex-direction: column; /* Orienta los hijos del contenedor en una columna */
    align-items: center; /* Centra los elementos horizontalmente */
}

/* Estilos para el título del vehículo */
#nombre-vehiculo {
    font-size: 70px;
    text-align: center;
    padding: 28px;
    margin: 0 0 20px; /* Margen inferior para separar del contenido debajo */
}

/* Contenedor para la imagen del vehículo */
.image-container {
    width: 100%; /* Usa todo el ancho disponible */
    margin-bottom: 20px; /* Margen inferior para separar de los detalles debajo */
}

#imagen-vehiculo {
    width: 100%; /* La imagen ocupa todo el ancho del contenedor de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
}

/* Contenedor para los detalles del vehículo */
.details-container {
    text-align: left; /* Alinea el texto a la izquierda */
    font-size: medium;
    width: 100%; /* Usa todo el ancho disponible */
}
.details-container h1 {
    text-align: left; /* Alinea el texto a la izquierda */
    font-size: 50px;
    width: 100%; /* Usa todo el ancho disponible */
}
.details-container p {
    text-align: left; /* Alinea el texto a la izquierda */
    font-size: 25px;
    width: 100%; /* Usa todo el ancho disponible */
}
/* Añade estilos para la descripción si es necesario */
.descripcion-container {
    width: 100%; /* Usa todo el ancho disponible */
    margin-top: 20px; /* Margen superior para separar de los detalles encima */
}

/* Estilos para el footer */
footer {
    clear: both;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
}

/* Responsivo: Ajustes para pantallas menores de 1000px */
@media (max-width: 1000px) {
    .image-container,
    .details-container {
        max-width: 100%; /* Ocupa el ancho completo en pantallas más pequeñas */
    }
}



/* Ajustes para cuando la pantalla tiene un ancho de 680px o menos */


/* Asegúrate de que el footer no interfiere con el flujo del documento */
footer {
    clear: both;
    width: 100%;
}

