/* Estilos específicos para el contenedor del formulario */
#mantencionContainer .card {
    border-radius: 15px; /* Bordes redondeados para la tarjeta */
    overflow: hidden; /* Asegura que los hijos no sobresalgan los bordes redondeados */
    margin-top: 20px; /* Espacio arriba de la tarjeta */
}

/* Estilos para el encabezado de la tarjeta */
#mantencionContainer .card-header {
    background-color: #2B2E4A; /* Color de fondo */
    color: white; /* Color de texto */
    text-align: center; /* Centra el texto */
    border-bottom: 0; /* Elimina el borde por defecto si existe */
}

/* Estilos para los elementos de formulario */
#mantencionForm .form-select {
    display: block;
    width: 100%;
    padding: 0.375rem 1.75rem 0.375rem 0.75rem;
    margin-bottom: 1rem; /* Espaciado entre los selects y el botón */
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem; /* Bordes ligeramente redondeados para los select */
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* Estilos para el botón de envío */
#mantencionForm .btn-primary {
    background-color: #2B2E4A; /* Color de fondo */
    border-color: #2B2E4A; /* Color del borde */
    color: white; /* Color del texto */
    padding: 10px 20px; /* Padding más grande */
    font-size: 1.25rem; /* Tamaño de fuente más grande */
    border-radius: 0.25rem; /* Bordes ligeramente redondeados */
    display: block; /* Ajusta a bloque para permitir margin auto */
    width: 100%; /* Ocupa todo el ancho disponible */
    margin: 20px auto; /* Centrado automático */
}

/* Estilos adicionales para el estado hover del botón */
#mantencionForm .btn-primary:hover {
    background-color: #1c1f33; /* Color de fondo más oscuro al pasar el mouse */
    border-color: #1c1f33; /* Color de borde más oscuro al pasar el mouse */
}

/* Ajustes generales del formulario */
#mantencionForm {
    max-width: 500px; /* Ancho máximo del formulario */
    margin: auto; /* Centra el formulario horizontalmente */
}

/* Si otros estilos tienen prioridad sobre estos, puede que necesites aumentar la especificidad de tus selectores o revisar la cascada de estilos en tu proyecto. */

#mantencionFrom h2{
    color: white !important;
}

footer {
    /* Estilo para el footer */
    position: absolute;
    bottom: 0;
    width: 100%;
}
