<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Detalle del Vehículo</title>
    <!-- Asegúrate de incluir aquí tus hojas de estilo y scripts si es necesario -->
    <link rel="stylesheet" href="/assets/css/cssautospublicos.css">
</head>
<body>

    <!-- Contenedor Principal -->
<!-- Contenedor Principal -->
<div class="container vehiculo-detalle">
    <h1 id="nombre-vehiculo">Nombre del Vehículo</h1>

    <!-- Flex Container for Image and Details -->
    <div class="flex-container">
        <!-- Image Container -->
        <div class="image-container">
            <img id="imagen-vehiculo" src="" alt="Imagen del Vehículo" />
        </div>
        
        <!-- Details Container -->
        <div class="details-container">
            <h1>Características del Vehículo</h1>
            <p><strong>Modelo:</strong> <span id="modelo-vehiculo"></span></p>
            <p><strong>Año:</strong> <span id="ano-vehiculo"></span></p>
            <p><strong>Transmisión:</strong> <span id="transmision-vehiculo"></span></p>
            <p><strong>Kilometraje:</strong> <span id="kilometraje-vehiculo"></span></p>
            <p><strong>Combustible:</strong> <span id="gasolina-vehiculo"></span></p>
            <p><strong>Precio:</strong> <span id="precio-vehiculo"></span></p>
            <h2>Descripción</h2>
            <p><span id="descripcion-vehiculo"></span></p>
        </div>
    </div>
</div>

    

    <script src="assets/js/cargarMispublicaciones.js"></script>
    <script src="/assets/js/usuario.js"></script>
</body>
