<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Agendar Mantención</title>
    <!-- Asegúrate de incluir aquí tus hojas de estilo y scripts si es necesario -->
</head>
<body>

    <h1>Agendar Mantención</h1>
    
    <!-- El formulario para agendar la mantención -->
    <form id="mantencionForm" action="/crear-mantencion" method="post">
        <div>
          <label for="fecha_mantencion">Hora de Mantención:</label>
          <select id="fecha_mantencion" name="fecha_mantencion" required>
            <!-- Las opciones de horas se cargarán desde el backend o con JavaScript -->
          </select>
        </div>
        <div>
            <label for="vehiculo_id_vehiculo">Selecciona tu Vehículo:</label>
            <select id="vehiculo_id_vehiculo" name="vehiculo_id_vehiculo" required>
                <!-- Opciones de vehículos cargadas desde la base de datos -->
                <!-- Asumiendo que se cargarán las opciones mediante JavaScript o desde el backend -->
            </select>
        </div>
        <div>
            <button type="submit">Agendar Mantención</button>
        </div>
    </form>
    <script src="assets/js/obtenerVehiculos.js"></script> 
    <script src="assets/js/horasFechas.js"></script> 
</body>
</html>
