<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Restablecer Contraseña</title>
</head>
<body>
    <h2>Restablecer Contraseña</h2>
    <form id="password-reset-form">
        <input type="hidden" name="token" id="token">
        <label for="password">Nueva Contraseña:</label>
        <input type="password" id="password" name="password" required>
        <button type="submit">Cambiar Contraseña</button>
    </form>
    <script>
        // Extrae el token del parámetro de URL y lo establece en el campo oculto
        document.addEventListener('DOMContentLoaded', () => {
            const urlParams = new URLSearchParams(window.location.search);
            const token = urlParams.get('token');
            document.getElementById('token').value = token;
        });

        // Maneja el envío del formulario
        document.getElementById('password-reset-form').addEventListener('submit', function(event) {
    event.preventDefault();
    const token = document.getElementById('token').value;
    const password = document.getElementById('password').value;

    if (!token || !password) {
        alert('El token y la contraseña son requeridos.');
        return;
    }

    fetch('/reset-password', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({ token: token, newPassword: password })
    })
    .then(response => {
        if (!response.ok) {
            throw new Error('La solicitud falló: ' + response.statusText);
        }
        return response.json();
    })
    .then(data => {
        alert(data.message);
        window.location.href = '/login-register.html'; // Redirige aquí si todo va bien
    })
    .catch(error => {
        console.error('Error:', error);
        alert('Hubo un error al cambiar la contraseña: ' + error.message);
    });
});

    </script>
</body>
</html>
